h2 {
    align-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

h3 {
    align-items: center;
}

/* register card */
.card {
    width: 18rem;
    align-items: center;
    text-align: center;
    margin: auto;
}

.btn {
    align-items: center;
    padding-left: 10px;
}