h2 {
    align-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    color: #052c65
}

h3 {
    align-items: center;
}

p {
    align-content: center;
    margin: 10px;
}


strong {
    font-size: large;
    text-align: center;
    margin-left: auto;
    padding: 5px;
}

.title {
    font-size: xx-large;
}

/* register card */
.card {
    width: 18rem;
    align-items: center;
    text-align: center;
    margin: auto;
}

.year {
    font-size: small;
    color: #052c65;
}

button {
    align-items: center;
    padding-left: 10px;
}

.btn-dark {
    margin: 10px;
}

.flashes {
    text-align: center;
    padding-bottom: 20px;
}