h2 {
    align-items: center;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

h3 {
    align-items: center;
}

p {
    align-content: center;
}

/* register card */
.card {
    width: 18rem;
    align-items: center;
    text-align: center;
    margin: auto;
}

button {
    align-items: center;
    padding-left: 10px;
}

.flashes {
    text-align: center;
    padding-bottom: 20px;
}