{% extends "base.html" %}
{% block content %}

<h2>Add Book</h2>

<!-- Bootstrap Text Form & Button Code -->
<form method="POST" action="{{ url_for('addbook') }}">
    <div class="mb-3">
        <label for="book_name" class="form-label">Book Name</label>
        <input type="text" name="book_name" class="form-control" id="book_name" required>
    </div>
    <div class="mb-3">
        <label for="release_year" class="form-label">Release Year</label>
        <input type="tel" name="release_year" class="form-control" id="release_year" maxlength="4" required>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" name="author" class="form-control" id="author" required>
    </div>
    <div class="mb-3">
        <label for="summary">Book Summary</label>
        <textarea class="form-control" id="summary" rows="3" name="summary" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>

{% endblock %}